@import '../../scss/variables.scss';

.bird-list {
    width: 540px;
    @media (max-width: 1200px) {
        width: 100%;
        margin-bottom: 20px;
	}
    &__item {
        background-color: $colorContainer;
        cursor: pointer;
        padding: 15px 20px 13px 20px;
        border: 1px solid $colorBorder;
        border-top-width: 0px;
    }
    &__item.error > .li-btn {
        background-color: $colorError;
    }
    &__item.success > .li-btn {
        background-color: $colorSuccess;
    }
    &__item:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-top-width: 1px;
    }
    &__item:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    &__item:hover {
        background-color: $colorBorder;
    }
}