@import 'scss/variables.scss';

.wrapper {
	background-color: $colorBackground;
	max-width: 1140px;
	min-width: 200px;
	margin: 0 auto;
	padding: 0px 15px;

	display: flex;
	flex-direction: column;
	min-height: 100%;
	& .btn {
		width: 100%;
        margin: 25px 0px;
        background-color: $colorContainer;
        color: $colorWhite;
        border: 1px solid $colorBorder;
	}
	& .btn.next-level{
        background-color: $colorSuccess;
        border: 1px solid $colorSuccess;
	}
}

.guess-bird {
    margin-top: 25px;
    display: flex;
	justify-content: space-between;
	@media (max-width: 1200px) {
		display: block;
	}
}